127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ vip }} controller
{{ controller1_ip_man }} controller1
{{ controller2_ip_man }} controller2
{{ controller3_ip_man }} controller3
